@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@1&family=Jura:wght@300;400;500;600;700&family=Oswald:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400&family=Roboto:ital,wght@0,100;1,100&display=swap');


html {
  font-family: 'Fanwood Text', serif;
}

body {
  margin: 0;
 background-color: #1a1a1a;
}


